$primary: #bcbdbf;
$secondary: #666666;

.footerbs {
  background-color: #131313f2;
  padding: 60px 40px;
  color: $primary;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-family: "Minion", sans-serif;
  .footer-brand,
  .footer-nav,
  .footer-social,
  .footer-ns {
    padding: 10px 25px;
  }
  .footer-nav,
  .footer-social,
  .footer-ns {
    border-color: transparent;
  }
  .footer-brand p {
    font-size: 1.1rem;
    color: $primary;
  }
  .footer-nav {
    ul.pages {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: $primary;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1rem;
        text-decoration: none;
      }
      a:hover {
        color: $secondary;
        text-decoration: none;
      }
    }

    h4 {
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }

    ul.list {
      list-style: none;
      padding: 0px;
      li {
        padding: 5px 0px;
      }
      a {
        color: $primary;
        font-size: 1.1rem;
        text-decoration: none;
      }
      a:hover {
        color: $secondary;
        text-decoration: none;
      }
    }
  }

  .footer-social {
    ul {
      list-style: none;
      padding: 0px;
    }
    h4 {
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    li {
      padding: 5px 4px;
    }
    a {
      color: $primary;
      text-decoration: none;
    }
    a:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  .footer-ns {
    h4 {
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    p {
      font-size: 1.1rem;
      color: $primary;
    }
  }
  .form-control {
    font-size: 1.1rem;
    background-color: transparent;
    border: 1px solid $secondary;
    font-style: italic;
  }
  .form-control::placeholder {
    color: $primary;
  }
}

.copyright,
.copyright a {
  font-size: 1.4rem;
  font-family: "Minion", sans-serif;
  color: $primary;
  text-decoration: none;
  a:hover {
    color: $secondary;
  }
}

@media (min-width: 768px) {
  .footer-bs {
    .footer-nav,
    .footer-social,
    .footer-ns {
      border-left: solid 1px $primary;
    }
  }
}
